<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>map_item017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,132}}</string>
        <key>sourceSize</key>
        <string>{106,132}</string>
      </dict>
      <key>map_item008.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{103,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,122}}</string>
        <key>sourceSize</key>
        <string>{103,122}</string>
      </dict>
      <key>map_item007.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{103,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,122}}</string>
        <key>sourceSize</key>
        <string>{103,122}</string>
      </dict>
      <key>map_item015.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{102,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,112}}</string>
        <key>sourceSize</key>
        <string>{102,112}</string>
      </dict>
      <key>map_item016.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,114},{102,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,112}}</string>
        <key>sourceSize</key>
        <string>{102,112}</string>
      </dict>
      <key>map_item014.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,124},{102,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,112}}</string>
        <key>sourceSize</key>
        <string>{102,112}</string>
      </dict>
      <key>map_item013.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,124},{102,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,107}}</string>
        <key>sourceSize</key>
        <string>{102,107}</string>
      </dict>
      <key>map_item012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,134},{98,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,100}}</string>
        <key>sourceSize</key>
        <string>{98,100}</string>
      </dict>
      <key>map_item011.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,228},{94,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,95}}</string>
        <key>sourceSize</key>
        <string>{94,95}</string>
      </dict>
      <key>map_item000.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{103,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,85}}</string>
        <key>sourceSize</key>
        <string>{103,85}</string>
      </dict>
      <key>map_item010.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,228},{89,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>map_item009.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,105},{98,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,77}}</string>
        <key>sourceSize</key>
        <string>{98,77}</string>
      </dict>
      <key>map_item005.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,233},{75,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,99}}</string>
        <key>sourceSize</key>
        <string>{75,99}</string>
      </dict>
      <key>map_item003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{77,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,90}}</string>
        <key>sourceSize</key>
        <string>{77,90}</string>
      </dict>
      <key>map_item001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,238},{76,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,89}}</string>
        <key>sourceSize</key>
        <string>{76,89}</string>
      </dict>
      <key>map_item004.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,320},{68,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,90}}</string>
        <key>sourceSize</key>
        <string>{68,90}</string>
      </dict>
      <key>map_item002.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,325},{67,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,88}}</string>
        <key>sourceSize</key>
        <string>{67,88}</string>
      </dict>
      <key>map_item006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{54,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,97}}</string>
        <key>sourceSize</key>
        <string>{54,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>map_item.png</string>
      <key>size</key>
      <string>{507,425}</string>
      <key>textureFileName</key>
      <string>map_item.png</string>
    </dict>
  </dict>
</plist>